@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto+Mono:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}
/*font-family: 'potta one', sans-serif;*/
/*Navbar Styling*/
 nav{
    display: flex;
    /* position: relative; */
    
 }   
 nav a{
    font-family: 'potta one', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    justify-content: space-evenly;
    flex: 1;
    margin-left: 2px;
    justify-content: flex-end;
    font-size: 22px;
 }
 nav:first-child{
    flex: 1;
    justify-content: flex-start;

 }
 nav img{
   display: none;
 }
 /*Nav styling ends*/
 .first-body{
    height: 650px;
    width: 100%;
    position: absolute;
    background:linear-gradient( to top, #dd2476, #2f5fff);
 }
 .first-body p{
    margin-top: 100px;
    font-family: 'Roboto mono', sans-serif;
    color: #fff;
    font-size: 36px;
     margin-left: 10px; 
    text-align: left;
 }
 .first-body strong{
    font-size: 80px;
 }
 .sec{
    margin-top:598px;
    background:linear-gradient( to top, #2f5fff, #dd2476) ;
    width: 100%;
    height: 500px;
    position: absolute;
 }
 .sec .skills .title{
   color:#fff;
   display: inline-block;
   font-weight: bolder;
   font-family: 'potta one';
   text-transform: uppercase;
   margin-top: 80px;
   margin-left: 175px; 
   font-size: 40px;
}
.sec .skills ul li{
   justify-content: center;
   align-content: center;
   color: #fff;
   font-family: 'potta one';
   list-style: none;
   display: flex;
   flex-direction: column;
   font-size: 35px;
   justify-content: space-evenly;
   margin-top: 30px;
   text-transform: capitalize;
   margin-left: 180px;
   position: relative;
}

.sec .skills .bar1{
   background:linear-gradient( to left, #2ff1ff, #dd247773) ;
   height: 20px;
   width: 450px;
   margin-top: -32px;
   margin-left: 305px;
   border-radius: 20px;
}
.sec .skills .bar2{
   background:linear-gradient( to left, #2ff1ff, #dd247773) ;
   height: 20px;
   width: 250px;
   margin-top: -26px;
   margin-left: 335px;
   border-radius: 20px;
}
.sec .skills .bar3{
   background:linear-gradient( to left, #2ff1ff, #dd247773) ;
   height: 20px;
   width: 350px;
   margin-top: -26px;
   margin-left: 405px;
   border-radius: 20px;
}
.sec .skills .bar4{
   background:linear-gradient( to left, #2ff1ff, #dd247773) ;
   height: 20px;
   width: 250px;
   margin-top: -26px;
   margin-left: 365px;
   border-radius: 20px;
}
.third{
   margin-top: 1090px;
    position: absolute;
   width: 1348px;
   height: 500px;
   background: linear-gradient(to top, #dd2476, #2f5fff);
}
@media (min-width: 213px) and (max-width:425px){
   nav{
      display: flex;
   }
   nav img{
      margin-top: 10px;
      display: block;
   }
   nav a:nth-last-child(2){
      display: none;
   }
   nav a:nth-last-child(3)
   {
      display: none;
   }
   nav a:nth-last-child(4){
      display: none;
   }
   nav a:nth-last-child(5){
      display: none;
   }
   nav a:nth-last-child(6){
      font-size: 30px;
      margin-left: 3px; 
   }
   .first-body p{
      font-size: 30px;
   }
   .first-body strong{
      font-size: 30px;
   }
   .sec{
      height: 600px;
   }
   .sec .skills .title{
      margin-left: 10px;
     font-size: 30px;
   }
   .sec .skills ul li{
      margin-left: 15px;
      font-size: 20px;
      position: relative;
      justify-content: space-evenly;
      display: inline-block;
      margin-top: 30px;
   }
   .sec .skills .bar1{
   position: relative;
   background:linear-gradient( to left, #2ff1ff, #dd247773) ;
   height: 20px;
   width: 185px;
   margin-top: -25px;
   margin-left: 93px;
   }
   .sec .skills .bar2{
   position: relative;
   background:linear-gradient( to left, #2ff1ff, #dd247773) ;
   height: 20px;
   width: 155px;
   margin-top: -25px;
   margin-left: 93px;
   }
   .sec .skills .bar3{
      position: relative;
      background:linear-gradient( to left, #2ff1ff, #dd247773) ;
      height: 20px;
      width: 105px;
      margin-top: -25px;
      margin-left: 143px;
   }
   .sec .skills .bar4{
      position: relative;
      background:linear-gradient( to left, #2ff1ff, #dd247773) ;
      height: 20px;
      width: 155px;
      margin-top: -20px;
      margin-left: 103px;
   }
}




 